h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: blink;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.pan1 {
    color: red;
}

.pan2 {
    color: green;
}

.pan3 {
    text-decoration: underline;    
}

.pan4 {
    font-weight: bolder;
}